{% extends "base.html" %}


{% block midpart %}
<div class="hero-box hero-box-smaller bg-gradient-5 font-inverse">
    <div class="container">
        <h1 align="center" class="pad0A hero-heading font-size-28 wow fadeInDown" data-wow-duration="0.6s">Login Page and Witness the Power of AI in your own Business.</h1>
    </div>
    <div class="hero-overlay bg-black"></div>
</div>



<div class="center-vertical">
    <div class="center-content row">

        <form action="" id="login-validation" name="login-validation" class="col-md-6 col-sm-5 col-xs-11 col-lg-4 center-margin" method="POST">
            {% csrf_token %}
            <h3 class="text-center pad25B font-gray text-transform-upr font-size-23"><span class="opacity-80"></span></h3>
            <div id="login-form" class="content-box bg-default">
                <div class="content-box-wrapper pad20A">
                    <img class="mrg25B center-margin radius-all-100 display-block" src="/static/assets/image-resources/logo1.png" alt="">
                     {% if error %}
            <p class="has-error" style="color: red">Invalid email or password</p>
        {% endif %}

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon addon-inside bg-gray">
                                <i class="glyph-icon icon-envelope-o"></i>
                            </span>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon addon-inside bg-gray">
                                <i class="glyph-icon icon-unlock-alt"></i>
                            </span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" onkeyup="checkPass(); return false;" />
                        </div>
                        <span id='msg'></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">Login</button>
                    </div>
                    <div class="row">
                        <div class="checkbox-primary col-md-6" style="height: 20px;">
                        </div>
                        <div class="text-right col-md-6">
                            <a href="#" class="switch-button" switch-target="#login-forgot" switch-parent="#login-form" title="Recover password">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="login-forgot" class="content-box bg-default hide">
                <div class="content-box-wrapper pad20A">

                    <div class="form-group">
                        <label for="exampleInputEmail2">Email address:</label>
                        <div class="input-group">
                            <span class="input-group-addon addon-inside bg-gray">
                                <i class="glyph-icon icon-envelope-o"></i>
                            </span>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                        </div>
                    </div>
                </div>
                <div class="button-pane text-center">
                    <button type="submit" class="btn btn-md btn-primary">Recover Password</button>
                    <a href="#" class="btn btn-md btn-link switch-button" switch-target="#login-form" switch-parent="#login-forgot" title="Cancel">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
<br><br>


<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/assets/js/jquery.validate.js"></script>
<script>
    $(document).ready(function(){
        $("#login-validation").validate({
        //alert('ok')
            rules :
                    {
                        email: {required: true,email: true },
                        password: { required: true },
                    },
          messages:
                    {
                    email : {required : "Please enter the username" },
                    password : {required : "Please enter the password" },

                    }

        });
    });
</script>
<style>
    .form-group label {
    margin-bottom: 5px;
    color: red;
}
</style>
</html>
{% endblock %}