<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<title> Pricing </title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/images/icons/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../assets/images/icons/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/images/icons/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../../assets/images/icons/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="../../assets/images/icons/favicon.png">



    <!-- HELPERS -->

<link rel="stylesheet" type="text/css" href="../../assets/helpers/animate.css">
<link rel="stylesheet" type="text/css" href="../../assets/helpers/backgrounds.css">
<link rel="stylesheet" type="text/css" href="../../assets/helpers/boilerplate.css">
<link rel="stylesheet" type="text/css" href="../../assets/helpers/border-radius.css">
<link rel="stylesheet" type="text/css" href="../../assets/helpers/grid.css">
<link rel="stylesheet" type="text/css" href="../../assets/helpers/page-transitions.css">
<link rel="stylesheet" type="text/css" href="../../assets/helpers/spacing.css">
<link rel="stylesheet" type="text/css" href="../../assets/helpers/typography.css">
<link rel="stylesheet" type="text/css" href="../../assets/helpers/utils.css">
<link rel="stylesheet" type="text/css" href="../../assets/helpers/colors.css">

<!-- ELEMENTS -->

<link rel="stylesheet" type="text/css" href="../../assets/elements/badges.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/buttons.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/content-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/dashboard-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/forms.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/images.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/info-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/invoice.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/loading-indicators.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/menus.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/panel-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/response-messages.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/responsive-tables.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/ribbon.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/social-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/tables.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/tile-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/elements/timeline.css">

<!-- FRONTEND ELEMENTS -->

<link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/blog.css">
<link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/cta-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/feature-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/footer.css">
<link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/hero-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/icon-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/portfolio-navigation.css">
<link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/pricing-table.css">
<link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/sliders.css">
<link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/testimonial-box.css">

<!-- ICONS -->

<link rel="stylesheet" type="text/css" href="../../assets/icons/fontawesome/fontawesome.css">
<link rel="stylesheet" type="text/css" href="../../assets/icons/linecons/linecons.css">
<link rel="stylesheet" type="text/css" href="../../assets/icons/spinnericon/spinnericon.css">

<!-- WIDGETS -->

<link rel="stylesheet" type="text/css" href="../../assets/widgets/accordion-ui/accordion.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/calendar/calendar.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/carousel/carousel.css">

<link rel="stylesheet" type="text/css" href="../../assets/widgets/charts/justgage/justgage.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/charts/morris/morris.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/charts/piegage/piegage.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/charts/xcharts/xcharts.css">

<link rel="stylesheet" type="text/css" href="../../assets/widgets/chosen/chosen.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/colorpicker/colorpicker.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/datatable/datatable.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/datepicker/datepicker.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/datepicker-ui/datepicker.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/dialog/dialog.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/dropdown/dropdown.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/dropzone/dropzone.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/file-input/fileinput.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/input-switch/inputswitch.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/input-switch/inputswitch-alt.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/ionrangeslider/ionrangeslider.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/jcrop/jcrop.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/jgrowl-notifications/jgrowl.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/loading-bar/loadingbar.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/maps/vector-maps/vectormaps.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/markdown/markdown.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/modal/modal.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/multi-select/multiselect.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/multi-upload/fileupload.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/nestable/nestable.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/noty-notifications/noty.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/popover/popover.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/pretty-photo/prettyphoto.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/progressbar/progressbar.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/range-slider/rangeslider.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/slider-ui/slider.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/summernote-wysiwyg/summernote-wysiwyg.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/tabs-ui/tabs.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/theme-switcher/themeswitcher.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/timepicker/timepicker.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/tocify/tocify.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/tooltip/tooltip.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/touchspin/touchspin.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/uniform/uniform.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/wizard/wizard.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/xeditable/xeditable.css">

<!-- FRONTEND WIDGETS -->

<link rel="stylesheet" type="text/css" href="../../assets/widgets/layerslider/layerslider.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/owlcarousel/owlcarousel.css">
<link rel="stylesheet" type="text/css" href="../../assets/widgets/fullpage/fullpage.css">

<!-- SNIPPETS -->

<link rel="stylesheet" type="text/css" href="../../assets/snippets/chat.css">
<link rel="stylesheet" type="text/css" href="../../assets/snippets/files-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/snippets/login-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/snippets/notification-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/snippets/progress-box.css">
<link rel="stylesheet" type="text/css" href="../../assets/snippets/todo.css">
<link rel="stylesheet" type="text/css" href="../../assets/snippets/user-profile.css">
<link rel="stylesheet" type="text/css" href="../../assets/snippets/mobile-navigation.css">

<!-- Frontend theme -->

<link rel="stylesheet" type="text/css" href="../../assets/themes/frontend/layout.css">
<link rel="stylesheet" type="text/css" href="../../assets/themes/frontend/color-schemes/default.css">

<!-- Components theme -->

<link rel="stylesheet" type="text/css" href="../../assets/themes/components/default.css">
<link rel="stylesheet" type="text/css" href="../../assets/themes/components/border-radius.css">

<!-- Frontend responsive -->

<link rel="stylesheet" type="text/css" href="../../assets/helpers/responsive-elements.css">
<link rel="stylesheet" type="text/css" href="../../assets/helpers/frontend-responsive.css">

    <!-- JS Core -->

    <script type="text/javascript" src="../../assets/js-core.js"></script>
    <script type="text/javascript" src="../../assets/frontend-all-demo.js"></script>
    <script type="text/javascript" src="../../assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="../../assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="../../assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="../../assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="../../assets/js-core/jquery-ui-position.js"></script>
    <script type="text/javascript" src="../../assets/js-core/transition.js"></script>
    <script type="text/javascript" src="../../assets/js-core/modernizr.js"></script>
    <script type="text/javascript" src="../../assets/js-core/jquery-cookie.js"></script>



<script type="text/javascript">
    $(window).load(function(){
        setTimeout(function() {
            $('#loading').fadeOut( 400, "linear" );
        }, 300);
    });
</script>

</head>
<body>
<div id="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
</div>
<div id="page-wrapper"><div class="top-bar bg-topbar">
    <div class="container">
        <div class="float-left">
            <a href="#" class="btn btn-sm bg-facebook tooltip-button" data-placement="bottom" title="Follow us on Facebook">
                <i class="glyph-icon icon-facebook"></i>
            </a>
            <a href="#" class="btn btn-sm bg-google tooltip-button" data-placement="bottom" title="Follow us on Google+">
                <i class="glyph-icon icon-google-plus"></i>
            </a>
            <a href="#" class="btn btn-sm bg-twitter tooltip-button" data-placement="bottom" title="Follow us on Twitter">
                <i class="glyph-icon icon-twitter"></i>
            </a>

            <a href="#" class="btn btn-top btn-sm" title="Give us a call">
                <i class="glyph-icon icon-phone"></i>
                +91-9876543210
            </a>
        </div>
        <div class="float-right user-account-btn dropdown">
            <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown" aria-expanded="false">
                <img width="28" src="../../assets/image-resources/pikachu.png" alt="Profile image">
                <span>Dynamic Name</span>
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <div class="dropdown-menu pad0B float-right">
                <div class="box-sm">
                    <div class="login-box clearfix">
                        <div class="user-img">
                            
                            <img src="../../assets/image-resources/pikachu.png" alt="">
                        </div>
                        <div class="user-info">
                        <span>
                            Hey User,
                            <i>Wanna Try AI?</i>
                        </span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <ul class="reset-ul mrg5B">
                        <li>
                            <a href="#">
                                Login Here
                                <i class="glyph-icon float-right icon-caret-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Sign Up Here
                                <i class="glyph-icon float-right icon-caret-right"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a href="#" class="btn display-block font-normal btn-danger">
                            <i class="glyph-icon icon-power-off"></i>
                            Free Trial for 5 days.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .container -->
</div><!-- .top-bar -->
<div class="main-header bg-header wow fadeInDown">
    <div class="container">
    <a href="index.html" class="header-logo" title="OneTouchAI - The AI you always Wished for!"></a><!-- .header-logo -->
    <div class="right-header-btn">
        <div id="mobile-navigation">
            <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target=".header-nav"><span></span></button>
        </div>
        <div class="search-btn">
            <a href="#" class="popover-button" title="Search" data-placement="bottom" data-id="#popover-search">
                <i class="glyph-icon icon-search"></i>
            </a>
            <div class="hide" id="popover-search">
                <div class="pad5A box-md">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search terms here ...">
                        <span class="input-group-btn">
                            <a class="btn btn-primary" href="#">Search</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .header-logo -->
    <ul class="header-nav collapse">
        <li>
            <a href="index-alt-2.html" title="Home">
                Home
            </a>
        </li>
        <li>
            <a href="#" title="Hero sections">
                About Us
            </a>
        </li>
        <li class="sf-mega">
            <a href="#" title="Features">
                Features
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <ul class="sf-mega-menu clearfix">
                <li class="col-lg-4 col-xs-12 col-sm-4 col-md-2">
                    <h3 class="header">Feature 1</h3>
                    <a href="portfolio-2col.html" title="Portfolio with 2 columns"><span>Sub Feature 1</span></a>
                    <a href="portfolio-3col.html" title="Portfolio with 3 columns"><span>Sub Feature 1</span></a>
                </li>
                <li class="col-lg-8 col-xs-12 col-sm-4 col-md-6">
                    <h3 class="header pad0L">Feature SlideShow</h3>
                    <div class="clearfix">
                        <div class="owl-slider-5 slider-wrapper">
                            <div>
                                <a href="blog-single.html" title="">
                                    <img src="../../assets/image-resources/slides-bg/slide-1.jpg" class="img-full" alt="Example alternate text">
                                </a>
                            </div>
                            <div>
                                <a href="blog-single.html" title="">
                                    <img src="../../assets/image-resources/slides-bg/slide-2.jpg" class="img-full" alt="Example alternate text">
                                </a>
                            </div>
                            <div>
                                <a href="blog-single.html" title="">
                                    <img src="../../assets/image-resources/slides-bg/slide-3.jpg" class="img-full" alt="Example alternate text">
                                </a>
                            </div>
                            <div>
                                <a href="blog-single.html" title="">
                                    <img src="../../assets/image-resources/slides-bg/slide-4.jpg" class="img-full" alt="Example alternate text">
                                </a>
                            </div>
                            <div>
                                <a href="blog-single.html" title="">
                                    <img src="../../assets/image-resources/slides-bg/slide-5.jpg" class="img-full" alt="Example alternate text">
                                </a>
                            </div>
                        </div>
                        <div class="divider mrg20T mrg20B"></div>
                        <h4 class="header pad0L">Gadgets &amp; Illustrations</h4>
                        <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know.</p>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="admin-pricing.html" title="Pricing">
                Pricing
            </a>
        </li>
        <li>
            <a href="#" title="Pages">
                Contact
            </a>
        </li>
    </ul><!-- .header-nav -->
</div><!-- .container -->
</div><!-- .main-header -->
<div class="hero-box hero-box-smaller full-bg-13 font-inverse" data-top-bottom="background-position: 50% 0px;" data-bottom-top="background-position: 50% -600px;">
    <div class="container">
        <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Start Working Efficiently</h1>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">Select a Plan that works perfectly for you with OneTouchAI</p>
    </div>
    <div class="hero-overlay bg-black"></div>
</div>

<div id="page-content" class="col-md-10 center-margin frontend-components mrg25T">
    <div class="row">
        <div class="col-md-12">
     
<div id="page-title">
    <h2>Pricing</h2>
    <p>Explore the dynamic pricing according to your need with <b>OneTouchAI</b></p>
</div>

<link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/pricing-table.css">

<div class="">
    <div class="content-box pad25A">
        
        <div class="row pricing-table mrg20T">
            <div class="pricing-box col-md-4 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>₹</sup>1.99</span>
                    <i>per Hit</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                    <li>This is included</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box pricing-best col-md-4 content-box">
                <h3 class="pricing-title bg-primary">Gold</h3>
                <div class="pricing-specs">
                   <span><sup>₹</sup>2.99</span>
                    <i>per Hit</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                    <li>This is included</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box col-md-4 content-box">
                <h3 class="pricing-title">Platinum</h3>
                <div class="pricing-specs">
                    <span><sup>₹</sup>3.99</span>
                    <i>per Hit</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                    <li>This is included</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>

<br><br>


    
    <div class="footer-pane">
        <div class="container clearfix">
            <div class="logo">&copy; 2018 OneTouchAI. All Rights Reserved.</div>
            <div class="footer-nav-bottom">
                <a href="#" title="Home">Home</a>
                <a href="#" title="Privacy Policy">Privacy Policy</a>
                <a href="#" title="Terms Of Conditions">Terms Of Conditions</a>
                <a href="#" title="Pricing">Pricing</a>
                <a href="#" title="Contact">Contact</a>
            </div>
        </div>
    </div>
</div>


    <!-- FRONTEND ELEMENTS -->

<!-- Skrollr -->

<script type="text/javascript" src="../../assets/widgets/skrollr/skrollr.js"></script>

<!-- Owl carousel -->

<script type="text/javascript" src="../../assets/widgets/owlcarousel/owlcarousel.js"></script>
<script type="text/javascript" src="../../assets/widgets/owlcarousel/owlcarousel-demo.js"></script>

<!-- HG sticky -->

<script type="text/javascript" src="../../assets/widgets/sticky/sticky.js"></script>

<!-- WOW -->

<script type="text/javascript" src="../../assets/widgets/wow/wow.js"></script>

<!-- VideoBG -->

<script type="text/javascript" src="../../assets/widgets/videobg/videobg.js"></script>
<script type="text/javascript" src="../../assets/widgets/videobg/videobg-demo.js"></script>

<!-- Mixitup -->

<script type="text/javascript" src="../../assets/widgets/mixitup/mixitup.js"></script>
<script type="text/javascript" src="../../assets/widgets/mixitup/isotope.js"></script>

<!-- WIDGETS -->

<!-- Bootstrap Dropdown -->

<script type="text/javascript" src="../../assets/widgets/dropdown/dropdown.js"></script>

<!-- Bootstrap Tooltip -->

<script type="text/javascript" src="../../assets/widgets/tooltip/tooltip.js"></script>

<!-- Bootstrap Popover -->

<script type="text/javascript" src="../../assets/widgets/popover/popover.js"></script>

<!-- Bootstrap Progress Bar -->

<script type="text/javascript" src="../../assets/widgets/progressbar/progressbar.js"></script>

<!-- Bootstrap Buttons -->

<script type="text/javascript" src="../../assets/widgets/button/button.js"></script>

<!-- Bootstrap Collapse -->

<script type="text/javascript" src="../../assets/widgets/collapse/collapse.js"></script>

<!-- Superclick -->

<script type="text/javascript" src="../../assets/widgets/superclick/superclick.js"></script>

<!-- Input switch alternate -->

<script type="text/javascript" src="../../assets/widgets/input-switch/inputswitch-alt.js"></script>

<!-- Slim scroll -->

<script type="text/javascript" src="../../assets/widgets/slimscroll/slimscroll.js"></script>

<!-- Content box -->

<script type="text/javascript" src="../../assets/widgets/content-box/contentbox.js"></script>

<!-- Overlay -->

<script type="text/javascript" src="../../assets/widgets/overlay/overlay.js"></script>

<!-- Widgets init for demo -->

<script type="text/javascript" src="../../assets/js-init/widgets-init.js"></script>
<script type="text/javascript" src="../../assets/js-init/frontend-init.js"></script>

<!-- Theme layout -->

<script type="text/javascript" src="../../assets/themes/frontend/layout.js"></script>

<!-- Theme switcher -->

<script type="text/javascript" src="../../assets/widgets/theme-switcher/themeswitcher.js"></script>

</body>
</html>






