<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<title> Monarch UI - Bootstrap Frontend &amp; Admin Template </title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/images/icons/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/images/icons/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/images/icons/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/static/assets/images/icons/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/static/assets/images/icons/favicon.png">



    <!-- HELPERS -->

<link rel="stylesheet" type="text/css" href="/static/assets/helpers/animate.css">
<link rel="stylesheet" type="text/css" href="/static/assets/helpers/backgrounds.css">
<link rel="stylesheet" type="text/css" href="/static/assets/helpers/boilerplate.css">
<link rel="stylesheet" type="text/css" href="/static/assets/helpers/border-radius.css">
<link rel="stylesheet" type="text/css" href="/static/assets/helpers/grid.css">
<link rel="stylesheet" type="text/css" href="/static/assets/helpers/page-transitions.css">
<link rel="stylesheet" type="text/css" href="/static/assets/helpers/spacing.css">
<link rel="stylesheet" type="text/css" href="/static/assets/helpers/typography.css">
<link rel="stylesheet" type="text/css" href="/static/assets/helpers/utils.css">
<link rel="stylesheet" type="text/css" href="/static/assets/helpers/colors.css">

<!-- ELEMENTS -->

<link rel="stylesheet" type="text/css" href="/static/assets/elements/badges.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/buttons.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/content-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/dashboard-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/forms.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/images.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/info-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/invoice.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/loading-indicators.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/menus.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/panel-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/response-messages.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/responsive-tables.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/ribbon.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/social-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/tables.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/tile-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/elements/timeline.css">

<!-- FRONTEND ELEMENTS -->

<link rel="stylesheet" type="text/css" href="/static/assets/frontend-elements/blog.css">
<link rel="stylesheet" type="text/css" href="/static/assets/frontend-elements/cta-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/frontend-elements/feature-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/frontend-elements/footer.css">
<link rel="stylesheet" type="text/css" href="/static/assets/frontend-elements/hero-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/frontend-elements/icon-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/frontend-elements/portfolio-navigation.css">
<link rel="stylesheet" type="text/css" href="/static/assets/frontend-elements/pricing-table.css">
<link rel="stylesheet" type="text/css" href="/static/assets/frontend-elements/sliders.css">
<link rel="stylesheet" type="text/css" href="/static/assets/frontend-elements/testimonial-box.css">

<!-- ICONS -->

<link rel="stylesheet" type="text/css" href="/static/assets/icons/fontawesome/fontawesome.css">
<link rel="stylesheet" type="text/css" href="/static/assets/icons/linecons/linecons.css">
<link rel="stylesheet" type="text/css" href="/static/assets/icons/spinnericon/spinnericon.css">

<!-- WIDGETS -->

<link rel="stylesheet" type="text/css" href="/static/assets/widgets/accordion-ui/accordion.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/calendar/calendar.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/carousel/carousel.css">

<link rel="stylesheet" type="text/css" href="/static/assets/widgets/charts/justgage/justgage.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/charts/morris/morris.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/charts/piegage/piegage.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/charts/xcharts/xcharts.css">

<link rel="stylesheet" type="text/css" href="/static/assets/widgets/chosen/chosen.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/colorpicker/colorpicker.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/datatable/datatable.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/datepicker/datepicker.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/datepicker-ui/datepicker.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/dialog/dialog.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/dropdown/dropdown.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/dropzone/dropzone.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/file-input/fileinput.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/input-switch/inputswitch.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/input-switch/inputswitch-alt.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/ionrangeslider/ionrangeslider.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/jcrop/jcrop.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/jgrowl-notifications/jgrowl.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/loading-bar/loadingbar.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/maps/vector-maps/vectormaps.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/markdown/markdown.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/modal/modal.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/multi-select/multiselect.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/multi-upload/fileupload.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/nestable/nestable.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/noty-notifications/noty.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/popover/popover.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/pretty-photo/prettyphoto.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/progressbar/progressbar.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/range-slider/rangeslider.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/slider-ui/slider.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/summernote-wysiwyg/summernote-wysiwyg.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/tabs-ui/tabs.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/theme-switcher/themeswitcher.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/timepicker/timepicker.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/tocify/tocify.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/tooltip/tooltip.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/touchspin/touchspin.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/uniform/uniform.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/wizard/wizard.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/xeditable/xeditable.css">

<!-- FRONTEND WIDGETS -->

<link rel="stylesheet" type="text/css" href="/static/assets/widgets/layerslider/layerslider.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/owlcarousel/owlcarousel.css">
<link rel="stylesheet" type="text/css" href="/static/assets/widgets/fullpage/fullpage.css">

<!-- SNIPPETS -->

<link rel="stylesheet" type="text/css" href="/static/assets/snippets/chat.css">
<link rel="stylesheet" type="text/css" href="/static/assets/snippets/files-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/snippets/login-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/snippets/notification-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/snippets/progress-box.css">
<link rel="stylesheet" type="text/css" href="/static/assets/snippets/todo.css">
<link rel="stylesheet" type="text/css" href="/static/assets/snippets/user-profile.css">
<link rel="stylesheet" type="text/css" href="/static/assets/snippets/mobile-navigation.css">

<!-- Frontend theme -->

<link rel="stylesheet" type="text/css" href="/static/assets/themes/frontend/layout.css">
<link rel="stylesheet" type="text/css" href="/static/assets/themes/frontend/color-schemes/default.css">

<!-- Components theme -->

<link rel="stylesheet" type="text/css" href="/static/assets/themes/components/default.css">
<link rel="stylesheet" type="text/css" href="/static/assets/themes/components/border-radius.css">

<!-- Frontend responsive -->

<link rel="stylesheet" type="text/css" href="/static/assets/helpers/responsive-elements.css">
<link rel="stylesheet" type="text/css" href="/static/assets/helpers/frontend-responsive.css">

    <!-- JS Core -->

    <script type="text/javascript" src="/static/assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="/static/assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="/static/assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="/static/assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="/static/assets/js-core/jquery-ui-position.js"></script>
    <script type="text/javascript" src="/static/assets/js-core/transition.js"></script>
    <script type="text/javascript" src="/static/assets/js-core/modernizr.js"></script>
    <script type="text/javascript" src="/static/assets/js-core/jquery-cookie.js"></script>



<script type="text/javascript">
    $(window).load(function(){
        setTimeout(function() {
            $('#loading').fadeOut( 400, "linear" );
        }, 300);
    });
</script>

</head>
<body>
<div id="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div id="theme-options">
    <a href="#" class="btn btn-primary theme-switcher tooltip-button" data-placement="left" title="Color schemes and layout options">
        <i class="glyph-icon icon-linecons-cog icon-spin"></i>
    </a>
    <div id="theme-switcher-wrapper">
        <div class="scroll-switcher">
            <h5 class="header">Layout options</h5>
            <ul class="reset-ul">
                <li>
                    <label for="boxed-layout">Boxed layout</label>
                    <input type="checkbox" data-toggletarget="boxed-layout" id="boxed-layout" class="input-switch-alt">
                </li>
            </ul>
            <div class="boxed-bg-wrapper hide">
                <h5 class="header">
                    Boxed Page Background
                    <a class="set-background-style" data-header-bg="" title="Remove all styles" href="#">Clear</a>
                </h5>
                <div class="theme-color-wrapper clearfix">
                    <h5>Patterns</h5>
                    <a class="tooltip-button set-background-style pattern-bg-3" data-header-bg="pattern-bg-3" title="Pattern 3" href="#">Pattern 3</a>
                    <a class="tooltip-button set-background-style pattern-bg-4" data-header-bg="pattern-bg-4" title="Pattern 4" href="#">Pattern 4</a>
                    <a class="tooltip-button set-background-style pattern-bg-5" data-header-bg="pattern-bg-5" title="Pattern 5" href="#">Pattern 5</a>
                    <a class="tooltip-button set-background-style pattern-bg-6" data-header-bg="pattern-bg-6" title="Pattern 6" href="#">Pattern 6</a>
                    <a class="tooltip-button set-background-style pattern-bg-7" data-header-bg="pattern-bg-7" title="Pattern 7" href="#">Pattern 7</a>
                    <a class="tooltip-button set-background-style pattern-bg-8" data-header-bg="pattern-bg-8" title="Pattern 8" href="#">Pattern 8</a>
                    <a class="tooltip-button set-background-style pattern-bg-9" data-header-bg="pattern-bg-9" title="Pattern 9" href="#">Pattern 9</a>
                    <a class="tooltip-button set-background-style pattern-bg-10" data-header-bg="pattern-bg-10" title="Pattern 10" href="#">Pattern 10</a>

                    <div class="clear"></div>

                    <h5 class="mrg15T">Solids &amp;Images</h5>
                    <a class="tooltip-button set-background-style bg-black" data-header-bg="bg-black" title="Black" href="#">Black</a>
                    <a class="tooltip-button set-background-style bg-gray mrg10R" data-header-bg="bg-gray" title="Gray" href="#">Gray</a>

                    <a class="tooltip-button set-background-style full-bg-1" data-header-bg="full-bg-1 fixed-bg" title="Image 1" href="#">Image 1</a>
                    <a class="tooltip-button set-background-style full-bg-2" data-header-bg="full-bg-2 fixed-bg" title="Image 2" href="#">Image 2</a>
                    <a class="tooltip-button set-background-style full-bg-3" data-header-bg="full-bg-3 fixed-bg" title="Image 3" href="#">Image 3</a>
                    <a class="tooltip-button set-background-style full-bg-4" data-header-bg="full-bg-4 fixed-bg" title="Image 4" href="#">Image 4</a>
                    <a class="tooltip-button set-background-style full-bg-5" data-header-bg="full-bg-5 fixed-bg" title="Image 5" href="#">Image 5</a>
                    <a class="tooltip-button set-background-style full-bg-6" data-header-bg="full-bg-6 fixed-bg" title="Image 6" href="#">Image 6</a>

                </div>
            </div>
            <h5 class="header">
                Top Menu Style
                <a class="set-topmenu-style" data-header-bg="" title="Remove all styles" href="#">Clear</a>
            </h5>
            <div class="theme-color-wrapper clearfix">
                <h5>Solids</h5>
                <a class="tooltip-button set-topmenu-style bg-primary" data-header-bg="bg-primary font-inverse" title="Primary" href="#">Primary</a>
                <a class="tooltip-button set-topmenu-style bg-green" data-header-bg="bg-green font-inverse" title="Green" href="#">Green</a>
                <a class="tooltip-button set-topmenu-style bg-red" data-header-bg="bg-red font-inverse" title="Red" href="#">Red</a>
                <a class="tooltip-button set-topmenu-style bg-blue" data-header-bg="bg-blue font-inverse" title="Blue" href="#">Blue</a>
                <a class="tooltip-button set-topmenu-style bg-warning" data-header-bg="bg-warning font-inverse" title="Warning" href="#">Warning</a>
                <a class="tooltip-button set-topmenu-style bg-purple" data-header-bg="bg-purple font-inverse" title="Purple" href="#">Purple</a>
                <a class="tooltip-button set-topmenu-style bg-black" data-header-bg="bg-black font-inverse" title="Black" href="#">Black</a>

                <div class="clear"></div>

                <h5 class="mrg15T">Gradients</h5>
                <a class="tooltip-button set-topmenu-style bg-gradient-1" data-header-bg="bg-gradient-1 font-inverse" title="Gradient 1" href="#">Gradient 1</a>
                <a class="tooltip-button set-topmenu-style bg-gradient-2" data-header-bg="bg-gradient-2 font-inverse" title="Gradient 2" href="#">Gradient 2</a>
                <a class="tooltip-button set-topmenu-style bg-gradient-3" data-header-bg="bg-gradient-3 font-inverse" title="Gradient 3" href="#">Gradient 3</a>
                <a class="tooltip-button set-topmenu-style bg-gradient-4" data-header-bg="bg-gradient-4 font-inverse" title="Gradient 4" href="#">Gradient 4</a>
                <a class="tooltip-button set-topmenu-style bg-gradient-5" data-header-bg="bg-gradient-5 font-inverse" title="Gradient 5" href="#">Gradient 5</a>
                <a class="tooltip-button set-topmenu-style bg-gradient-6" data-header-bg="bg-gradient-6 font-inverse" title="Gradient 6" href="#">Gradient 6</a>
                <a class="tooltip-button set-topmenu-style bg-gradient-7" data-header-bg="bg-gradient-7 font-inverse" title="Gradient 7" href="#">Gradient 7</a>
                <a class="tooltip-button set-topmenu-style bg-gradient-8" data-header-bg="bg-gradient-8 font-inverse" title="Gradient 8" href="#">Gradient 8</a>
            </div>
            <h5 class="header">
                Header Style
                <a class="set-header-style" data-header-bg="bg-header" title="Remove all styles" href="#">Clear</a>
            </h5>
            <div class="theme-color-wrapper clearfix">
                <h5>Solids</h5>
                <a class="tooltip-button set-header-style bg-primary" data-header-bg="bg-primary font-inverse" title="Primary" href="#">Primary</a>
                <a class="tooltip-button set-header-style bg-green" data-header-bg="bg-green font-inverse" title="Green" href="#">Green</a>
                <a class="tooltip-button set-header-style bg-red" data-header-bg="bg-red font-inverse" title="Red" href="#">Red</a>
                <a class="tooltip-button set-header-style bg-blue" data-header-bg="bg-blue font-inverse" title="Blue" href="#">Blue</a>
                <a class="tooltip-button set-header-style bg-warning" data-header-bg="bg-warning font-inverse" title="Warning" href="#">Warning</a>
                <a class="tooltip-button set-header-style bg-purple" data-header-bg="bg-purple font-inverse" title="Purple" href="#">Purple</a>
                <a class="tooltip-button set-header-style bg-black" data-header-bg="bg-black font-inverse" title="Black" href="#">Black</a>

                <div class="clear"></div>

                <h5 class="mrg15T">Gradients</h5>
                <a class="tooltip-button set-header-style bg-gradient-1" data-header-bg="bg-gradient-1 font-inverse" title="Gradient 1" href="#">Gradient 1</a>
                <a class="tooltip-button set-header-style bg-gradient-2" data-header-bg="bg-gradient-2 font-inverse" title="Gradient 2" href="#">Gradient 2</a>
                <a class="tooltip-button set-header-style bg-gradient-3" data-header-bg="bg-gradient-3 font-inverse" title="Gradient 3" href="#">Gradient 3</a>
                <a class="tooltip-button set-header-style bg-gradient-4" data-header-bg="bg-gradient-4 font-inverse" title="Gradient 4" href="#">Gradient 4</a>
                <a class="tooltip-button set-header-style bg-gradient-5" data-header-bg="bg-gradient-5 font-inverse" title="Gradient 5" href="#">Gradient 5</a>
                <a class="tooltip-button set-header-style bg-gradient-6" data-header-bg="bg-gradient-6 font-inverse" title="Gradient 6" href="#">Gradient 6</a>
                <a class="tooltip-button set-header-style bg-gradient-7" data-header-bg="bg-gradient-7 font-inverse" title="Gradient 7" href="#">Gradient 7</a>
                <a class="tooltip-button set-header-style bg-gradient-8" data-header-bg="bg-gradient-8 font-inverse" title="Gradient 8" href="#">Gradient 8</a>
            </div>
        </div>
    </div>
</div>
<div class="main-header bg-header wow fadeInDown">
    <div class="container">
    <a href="index.html" class="header-logo" title="Monarch - Create perfect presentation websites"></a><!-- .header-logo -->

    <ul class="header-nav collapse">
        <li>
            <a href="/" title="Homepage">
                Home
            </a>
        </li>
        <li>
            <a href="/" title="About">
                About us
                <!--<i class="glyph-icon icon-angle-down"></i>-->
            </a>
        </li>
        <li class="sf-mega">
            <a href="/login/" title="Login">
                Login
                <!--<i class="glyph-icon icon-angle-down"></i>-->
            </a>

        </li>

        <li class="sf-mega">
            <a href="/sign-up/" title="SignUp">
                SignUp
                <!--<i class="glyph-icon icon-angle-down"></i>-->
            </a>

        </li>
        <li>
            <a href="/pricing/" title="Pricing">
                Pricing
            </a>

        </li>

        <li>
            <a href="/contact-us/" title="Contact Us">
                Contact
            </a>

        </li>

    </ul><!-- .header-nav -->
</div><!-- .container -->
</div><!-- .main-header -->
{% block midpart %} {% endblock %}
<br><br>
    <div class="footer-pane">
        <div class="container clearfix">
            <div class="logo">&copy; 2018 OneTouchAI. All Rights Reserved.</div>
            <div class="footer-nav-bottom">
                <a href="/" title="Home">Home</a>
                <a href="#" title="Privacy Policy">Privacy Policy</a>
                <a href="#" title="Terms Of Conditions">Terms Of Conditions</a>
                <a href="#" title="Pricing">Pricing</a>
                <a href="/contact-us/" title="Contact">Contact</a>
            </div>
        </div>
    </div>
</div>

    <!-- FRONTEND ELEMENTS -->

<!-- Skrollr -->

<script type="text/javascript" src="/static/assets/widgets/skrollr/skrollr.js"></script>

<!-- Owl carousel -->

<script type="text/javascript" src="/static/assets/widgets/owlcarousel/owlcarousel.js"></script>
<script type="text/javascript" src="/static/assets/widgets/owlcarousel/owlcarousel-demo.js"></script>

<!-- HG sticky -->

<script type="text/javascript" src="/static/assets/widgets/sticky/sticky.js"></script>

<!-- WOW -->

<script type="text/javascript" src="/static/assets/widgets/wow/wow.js"></script>

<!-- VideoBG -->

<script type="text/javascript" src="/static/assets/widgets/videobg/videobg.js"></script>
<script type="text/javascript" src="/static/assets/widgets/videobg/videobg-demo.js"></script>

<!-- Mixitup -->

<script type="text/javascript" src="/static/assets/widgets/mixitup/mixitup.js"></script>
<script type="text/javascript" src="/static/assets/widgets/mixitup/isotope.js"></script>

<!-- WIDGETS -->

<!-- Bootstrap Dropdown -->

<script type="text/javascript" src="/static/assets/widgets/dropdown/dropdown.js"></script>

<!-- Bootstrap Tooltip -->

<script type="text/javascript" src="/static/assets/widgets/tooltip/tooltip.js"></script>

<!-- Bootstrap Popover -->

<script type="text/javascript" src="/static/assets/widgets/popover/popover.js"></script>

<!-- Bootstrap Progress Bar -->

<script type="text/javascript" src="/static/assets/widgets/progressbar/progressbar.js"></script>

<!-- Bootstrap Buttons -->

<script type="text/javascript" src="/static/assets/widgets/button/button.js"></script>

<!-- Bootstrap Collapse -->

<script type="text/javascript" src="/static/assets/widgets/collapse/collapse.js"></script>

<!-- Superclick -->

<script type="text/javascript" src="/static/assets/widgets/superclick/superclick.js"></script>

<!-- Input switch alternate -->

<script type="text/javascript" src="/static/assets/widgets/input-switch/inputswitch-alt.js"></script>

<!-- Slim scroll -->

<script type="text/javascript" src="/static/assets/widgets/slimscroll/slimscroll.js"></script>

<!-- Content box -->

<script type="text/javascript" src="/static/assets/widgets/content-box/contentbox.js"></script>

<!-- Overlay -->

<script type="text/javascript" src="/static/assets/widgets/overlay/overlay.js"></script>

<!-- Widgets init for demo -->

<script type="text/javascript" src="/static/assets/js-init/widgets-init.js"></script>
<script type="text/javascript" src="/static/assets/js-init/frontend-init.js"></script>

<!-- Theme layout -->

<script type="text/javascript" src="/static/assets/themes/frontend/layout.js"></script>

<!-- Theme switcher -->

<script type="text/javascript" src="/static/assets/widgets/theme-switcher/themeswitcher.js"></script>

</body>
</html>






