<html>
<head>
</head>
<body>
<p>
Dear {{name}}<br /> <br />
OneTouchAI user has created an access for you.<br />
    Please click on the below link to activate your login.<br />
    <br /> {{act_lnk}}<br /> <br />
    Note: If you are unable to click on the above activation link please copy and paste it in your browser.
    <br /> <br /> After activation, you may use the below login credentials to gain access to your account.
    <br /> <br /> Username: {{email}} <br />
    Password: {{password}}<br /> <br />
    If you have any further queries, please feel free to reach out to us on the OneTouchAI<br />
    <br />
</body>
</html>
